# General
node_modules/
dist/
.env
.DS_Store
.vscode/
.idea/

# Backend
backend-protfolio/node_modules/
backend-protfolio/.env

# Frontend
ravinder-react-portfolio/node_modules/
ravinder-react-portfolio/dist/
ravinder-react-portfolio/.env
